body {
    margin: 0;
}

.all {
	margin: auto;
	width: 500px;
}

button {
    background-color: #6699ff;
    color: white;
    padding: 7px 21px 6px 19px;
    border: none;
    cursor: pointer;
    margin-top: 31px;
    margin-left: 40px;
    font-family: "myriad-pro",sans-serif;
}

button:last-child {
    margin-left: 16px;
    padding: 7px 10px 6px 11px;
}

.main {
    box-sizing: border-box;
    background-color: #F5F5F5;
    padding: 40px 40px 30px 40px;
}

.header {
    font-size: 20px;
    font-family: calibri;
    margin-top: -10.5px;
    margin-left: -1px;
}

.quote {
	font-style: italic;
	display: inline-block;
}

.right {
	margin-left: -7px;
}

.left {
    margin-left: -3px;
}

.share {
	display: inline-block;
	letter-spacing: -0.05em;
}

.boardName {
	display: inline-block;
    letter-spacing: -0.035em;
    margin-left: -3px;
}

.withOthers {
	display: inline-block;
    letter-spacing: -0.0225em;
}
