.token {
    background-color: pink;
    display: inline-block;
    border-radius: 30px;
    margin-right: 8px;
    margin-bottom: 4px;
    cursor: default;
    max-width: calc(100% - 27px);
    padding: 2px 10px 4px 9px;
}

.token-valid {
    background-color: #D9E8FF;
}

.token-cross {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("../images/cross.png") no-repeat scroll center center transparent;
    background-size: contain;
    margin-left: 3px;
    cursor: pointer;
    position: relative;
    top: -4px;
}

.token-input-area {
    resize: none;
    border: none;
    background-color: white;
    display: inline-block;
    min-width: 50%;
    flex-grow: 1;
}

.token-input-area-font {
    font-size: 14px;
    font-family: calibri;
    font-weight: bold;  
}

.token-input-area:focus {
    outline: none;  
}

.token-wrapper {
    display: inline-block;
    max-height: 60px;
    overflow: auto;
    max-width: 99%;
}

.token-mail-text {
    text-overflow: ellipsis;
    display: inline-block;
    width: calc(100% - 11px);
    overflow: hidden;
    font-family: calibri;
    font-size: 14.5px;
}

.emails-editor {
    width: 100%;
}

.emails-editor-tags {
    width: 100%;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    height: 100px;
    cursor: text;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
    padding: 8px;
    box-sizing: border-box;
}

.emails-editor-tags.focused {
    outline: -webkit-focus-ring-color auto 5px;
}

.hidden-span {
    visibility: hidden;
    position: absolute;
}

.width-100 {
    width: 100%;
}
